/* TODO Add site wide styles */

.error {
    color: red;
    margin: 0;
    font-size: small;
    text-align: center;
    font-family: sans-serif;
    margin-left: 5px;

}

.input-container {
    display: flex;
    align-items: center;
}

#bio-container {
    align-items: flex-start;
}

.error-input {
    border: 2px solid red;
}
